.book-dj-location {
    position: relative;
}
.book-dj-location #content {
    margin: 0;
    padding: 0;
}
.book-dj-location #content > div,
.book-dj-location header {
    color: #111111;
    padding: 0;
    position: relative;
}

.book-dj-location .breadcrumbs {
    display: block;
}
.book-dj-location .menu-wrapper {
    position: relative;
}
.book-dj-location .menu-wrapper > .container {
    background: rgba(255, 255, 255, 0.96);
    height: 80px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
}

/* .book-dj-location .menu-wrapper > .container:after,
.book-dj-location .menu-wrapper > .container:before {
    background: rgba(255, 255, 255, 0.96);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
}

.book-dj-location .menu-wrapper > .container:after {
    right: -90%;
}
.book-dj-location .menu-wrapper > .container:before {
    left: -90%;
} */

.book-dj-location .menu-wrapper:after {
    background: rgba(255, 255, 255, 0.96);
    content: '';
    display: block;
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.span-wrapper {
    overflow: hidden;
    position: relative;
}

.locations-page header .container {
    align-items: center;
    -webkit-box-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    height: 100%;
    position: relative;
}
.locations-page header .container:before {
    background: #31daff;
    content: '';
    height: 1000vw;
    left: 200px;
    opacity: 0.85;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    width: 100%;
    z-index: 1;
}

.locations-page header article {
    align-items: center;
    -webkit-box-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    height: calc(100% - 80px);
    left: 0;
    margin-top: 80px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
.locations-page header .card {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: auto;
}

.locations-page h1 {
    font-weight: 600;
}
.locations-page h1 b {
    display: block;
    font-weight: bold;
    text-transform: capitalize;
}

.locations-page header button > div {
    color: white !important;
}

.locations-page .request-form .col-md-6,
.location-page .thank-you-text {
    margin-left: 26%;
    z-index: 3;
}

.locations-page .request-form .card {
    border: 2px solid #eee;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 40px;
}
.location-page .event-submit-wrapper {
    margin-top: 40px;
}

#city-illustration {
    bottom: -8px;
    height: auto;
    left: 50%;
    position: relative;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    z-index: 2;
}
@-webkit-keyframes blink {
    100% {
        opacity: 1;
    }
}
@keyframes blink {
    100% {
        opacity: 1;
    }
}
#window-lights > path {
    -webkit-animation: blink 500ms ease infinite;
    animation: blink 500ms ease infinite;
    opacity: 0.3;
}
#window-lights > path:nth-child(2) {
    -webkit-animation-delay: 32ms;
    animation-delay: 32ms;
}
#window-lights > path:nth-child(3) {
    -webkit-animation-delay: 845ms;
    animation-delay: 845ms;
}
#window-lights > path:nth-child(4) {
    -webkit-animation-delay: 46ms;
    animation-delay: 46ms;
}
#window-lights > path:nth-child(5) {
    -webkit-animation-delay: 98ms;
    animation-delay: 98ms;
}
#window-lights > path:nth-child(6) {
    -webkit-animation-delay: 256ms;
    animation-delay: 256ms;
}

.gm-style a img {
    display: none;
}

/* Tablet */
@media only screen and (max-width: 768px) {
    .locations-page header article {
        position: relative;
    }
    .gm-style a img {
        display: block;
    }
    .book-dj-location header .container.fix-top-mobile {
        display: block;
        margin: 0;
        padding: 0;
        width: 100vw;
    }

    .book-dj-location header .container.fix-top-mobile > .row {
        margin: 0;
        width: 100vw;
    }

    .book-dj-location header .container.fix-top-mobile > .row > div {
        width: 100vw;
    }

    .book-dj-location header .card {
        align-items: flex-end;
        background: rgba(255, 255, 255, 0.96);
        -webkit-box-align: end;
        -webkit-box-pack: justify;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: end;
        -ms-flex-pack: justify;
        justify-content: space-between;
        left: 0;
        padding: 15px;
        padding-bottom: 2em;
        padding-top: 0;
        position: relative;
        width: 100vw;
    }

    .book-dj-location h1 {
        font-size: 24px;
        line-height: 1.2em;
    }

    .book-dj-location header .card p {
        display: none;
    }

    .book-dj-location header .card * {
        margin: 0 !important;
    }

    .book-dj-location header .container:before {
        display: none;
    }

    .tablet-header-content {
        background: rgba(49, 217, 255, 0.95);
        color: white;
        width: 100%;
    }

    .tablet-header-content p {
        font-weight: 600;
        margin: 1em 0;
    }

    .locations-page .request-form .col-md-6 {
        margin-left: 0%;
    }

    #city-illustration {
        bottom: -3px;
        width: 245%;
    }
}

/* Mobile */
@media only screen and (max-width: 420px) {
    .book-dj-location header button > div {
        width: 110px !important;
    }
}
