@font-face {
    font-display: swap;
    font-family: 'AvenirNext';
    font-style: normal;
    font-weight: 400;
    src: local('Avenir Next Regular'),
        url('../assets/fonts/avenir/Avenir-Next-Regular.woff2') format('woff2'),
        url('../assets/fonts/avenir/Avenir-Next-Regular.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'AvenirNext';
    font-weight: 500;
    src: local('Avenir Next Medium'),
        url('../assets/fonts/avenir/Avenir-Next-Medium.woff2') format('woff2'),
        url('../assets/fonts/avenir/Avenir-Next-Medium.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'AvenirNext';
    font-style: normal;
    font-weight: 600;
    src: local('Avenir Next Demi Bold'),
        url('../assets/fonts/avenir/Avenir-Next-Demi-Bold.woff2') format('woff2'),
        url('../assets/fonts/avenir/Avenir-Next-Demi-Bold.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'AvenirNext';
    font-style: normal;
    font-weight: 700;
    src: local('Avenir Next Bold'),
        url('../assets/fonts/avenir/Avenir-Next-Bold.woff2') format('woff2'),
        url('../assets/fonts/avenir/Avenir-Next-Bold.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'AvenirNext';
    font-style: normal;
    font-weight: 800;
    src: local('Avenir Next Heavy'),
        url('../assets/fonts/avenir/Avenir-Next-Heavy.woff2') format('woff2');
}
