@import './fonts.css';

* {
    box-sizing: border-box;
    font-family: 'AvenirNext', Open Sans, Segoe UI, Helvetica, sans-serif;
}
*:before,
*:after {
    box-sizing: border-box;
}

body {
    color: #32325d;
    font-family: 'AvenirNext', Open Sans, Segoe UI, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}

header {
    color: #ffffff;
    height: auto;
    padding-top: 140px;
}

footer {
    align-items: center;
    border-top: 2px solid rgba(207, 215, 223, 0.25);
    color: #8898aa;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 30px;
    padding: 65px 0 55px;
    position: relative;
    white-space: nowrap;
    z-index: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2em;
    margin: 0;
}
h4 svg {
    margin-bottom: -3px;
    margin-right: 10px;
}
h4 path {
    fill: #32325d;
}

h1 {
    font-size: 42px;
    margin-bottom: 15px;
}
h2 {
    font-size: 22px;
    line-height: 30px;
}

h4 {
    font-size: 15px;
    letter-spacing: 0.025em;
    margin: 0 0 5px;
    text-transform: uppercase;
}
h6 {
    font-weight: 600;
}
p {
    font-size: 18px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    line-height: 1.75em;
    margin: 0;
    text-rendering: optimizelegibility !important;
}
a {
    color: inherit;
    cursor: pointer;
    outline: none !important;
    text-decoration: none;
}
a:hover {
    color: inherit;
    text-decoration: none;
}
input {
    font-weight: normal;
}
label {
    margin: 0;
}
textarea {
    -webkit-appearance: none;
}
textarea:focus {
    border-color: inherit !important;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    text-align: -webkit-match-parent;
}
section {
    display: inline-block;
}

pre {
    text-align: left !important;
}
span {
    position: relative;
}
button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: 600;
    outline: none;
    padding: 0;
}
b,
strong {
    font-weight: 600;
}

ol.numbered-list {
    font-size: 18px;
    padding-left: 1.2em;
}

.numbered-list li {
    color: #4d6480;
    font-weight: 600;
    margin-bottom: 1em;
}

.row {
    display: flex;
    position: relative;
}

.nav-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.navigation {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
}

body.pre-header-content .navigation {
    margin-top: 42px;
}

.mobileMenu a,
.mobileMenu .link-look {
    color: #32325d;
    font-weight: 500;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    transition: color 0.1s;
}

.mobileMenu {
    backface-visibility: hidden;
    height: 100vh;
    overflow: scroll;
    padding: 4vw;
    pointer-events: none;
    position: fixed;
    width: 100vw;
    z-index: 101;
}
.mobileMenu .menuArea {
    backface-visibility: hidden;
    background: white;
    border-radius: 25px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15),
        0 5px 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
    padding: 20px;
    position: relative;
    transform: rotate3d(1, 1, 0, -15deg);
    transform-origin: 100% 0;
    transition-duration: 0.35s;
    transition-property: transform, opacity, height;
    width: 100%;
    will-change: transform, opacity, height;
    z-index: 101;
}

.mobileMenu.active {
    pointer-events: all;
}
.mobileMenu.active .menuArea {
    opacity: 1;
    transform: none;
}

.mobileMenu .menu {
    align-items: center;
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobileMenu .menu li {
    font-size: 20px;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    padding-top: 10px;
    text-transform: capitalize;
    width: 200px;
}

.mobileMenuButton {
    backface-visibility: hidden;
    border-radius: 25px;
    cursor: pointer;
    display: none;
    height: 50px;
    min-height: 50px;
    min-width: 50px;
    position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
}
.mobileMenuButton:hover {
    color: hsla(0, 0%, 100%, 0.5);
}
.mobileMenuButton h2,
.mobileMenuButton h2:before,
.mobileMenuButton h2:after {
    background: white;
    border-radius: 3px;
    height: 5px;
    position: absolute;
    transform: translate3d(0, 0, 0);
    width: 40px;
}
.mobileMenuButton h2 {
    font-size: 0;
    left: 0px;
    top: 23px;
}
.mobileMenuButton h2:before,
.mobileMenuButton h2:after {
    content: '';
    left: 0;
}
.mobileMenuButton h2:before {
    top: -14px;
}
.mobileMenuButton h2:after {
    top: 14px;
}

.popupCloseButton {
    cursor: pointer;
    font-size: 0 !important;
    height: 51px;
    position: absolute;
    right: 0;
    top: 0;
    width: 51px;
}
.popupCloseButton:before,
.popupCloseButton:after {
    background: #31daff;
    border-radius: 1px;
    content: '';
    height: 3px;
    left: 14px;
    position: absolute;
    right: 14px;
    top: 24px;
    transform: rotate(45deg);
    transition: background 0.1s;
}
.popupCloseButton:after {
    transform: rotate(-45deg);
}

.mobileMenu .menu ul {
    column-count: 1;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.main-menu {
    align-items: center;
    display: flex;
    float: right;
    height: 80px;
    list-style-type: none;
    margin: 0px;
    padding: 0;
}

.main-menu > li {
    margin-left: 30px;
    position: relative;
}
.main-menu .redirect-button {
    height: 20px !important;
    width: 20px !important;
}

.main-menu > li:last-child {
    margin-left: 30px;
}

.main-menu a,
.main-menu .link-look {
    color: #fff;
    cursor: pointer;
    fill: #fff;
    font-size: 17px;
    /* Login: */
    font-weight: 600;
    height: 32px;
    letter-spacing: 0.3px;
    line-height: 32px;
}
li .link-look {
    height: 32px;
}

.logo {
    fill: #ffffff;
}
.white-theme {
    .main-menu a,
    .main-menu .link-look {
        color: #32325d;
        fill: #32325d;
    }
}
.white-theme .navigation .logo {
    color: #32325d;
    fill: #32325d;
}
.white-theme .mobileMenuButton h2,
.white-theme .mobileMenuButton h2:after,
.white-theme .mobileMenuButton h2:before {
    background: #32325d;
}

.white-theme .buttonFixed .mobileMenuButton h2,
.white-theme .buttonFixed .mobileMenuButton h2:after,
.white-theme .buttonFixed .mobileMenuButton h2:before {
    background: white;
}

.white-theme nav {
    border-bottom: 1px solid #f6f9fc;
}

.white-theme {
    #content {
        padding-top: 90px;
    }
}

.copyright {
    color: #cfd7df;
    margin-top: 40px;
}

.text-center {
    text-align: center;
}

footer a,
footer .link-look,
footer .dropdown-selector-wrapper {
    color: #8998aa;
    fill: #8998aa;
    font-size: 15px;
    font-weight: 400;
    margin: auto;
}
footer .dropdown-selector-wrapper,
footer .dropdown-selector {
    color: inherit;
    fill: inherit;
    font-size: 15px;
    font-weight: 600;
    svg {
        margin-right: 6px;
        margin-top: 3px;
    }
}
footer h4 {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
}
footer .locales {
    margin-top: 0;
}
footer a:hover,
footer .link-look:hover,
footer .dropdown-selector-wrapper:hover {
    color: #32325d !important;
    cursor: pointer;
    fill: #32325d !important;
}
footer .social a {
    font-weight: 600;
}
footer .social svg {
    margin-bottom: -1px;
    margin-right: 7px;
}

#preFooter-wrapper {
    background: transparent;
    margin-top: -500px;
    overflow: hidden;
    padding-top: 500px;
    pointer-events: none;
    position: relative;
}
#preFooter-wrapper > * {
    pointer-events: all;
}
#preFooter {
    background: transparent;
    margin-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}
#preFooter:before {
    background-color: inherit;
    content: '';
    height: 2000px;
    left: 0;
    position: absolute;
    right: 0;
    top: 350px;
    -webkit-transform: skew(0, -12deg);
    transform: skew(0, -12deg);
    z-index: 0;
}
#preFooter.noSkew:before {
    display: none;
}
#preFooter.noSkew {
    margin-top: 0;
    padding-top: 50px;
}
#preFooter .action-title {
    color: #32325d;
    font-size: 30px;
    font-weight: 500;
    margin: 0.75em 0;
}
#preFooter .action-title span {
    display: block;
}
#preFooter .action-buttons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

#preFooter .button {
    min-width: 150px;
}
.dropdown-selector {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background-color: transparent !important;
    border: none;
    border-radius: 0px !important;
    cursor: pointer;
    display: inline-block !important;
    height: auto !important;
    text-align: center;
    text-align: left;
}
.dropdown-selector:focus,
.dropdown-selector:active {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    outline: none !important;
}
.dropdown-selector-wrapper {
    cursor: pointer;
}
.dropdown-selector-wrapper svg {
    pointer-events: none;
    top: 3px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f6f8f9 inset;
}

form ol {
    counter-reset: item;
    margin-left: -40px;
}

.cursor-pointer input[disabled] {
    cursor: pointer !important;
}

form a {
    color: #32325d;
}

.signup form li {
    display: block;
    font-size: 30px;
    margin-bottom: 3em;
}
.signup form textarea {
    font-size: 16px;
}

.signup form li:before {
    content: counter(item) ' → ';
    counter-increment: item;
    display: inline-block;
    font-size: 14px;
    font-weight: bold !important;
    margin-left: -2.5em;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

input[type='date']::-webkit-input-placeholder {
    visibility: hidden !important;
}

input[type='file'] {
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 0.1px;
    z-index: -1;
}

input[type='file'] + label {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    /* 20px */
    font-weight: 500;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    text-overflow: ellipsis;
    white-space: normal;
    width: 100%;
    /* 10px 20px */
}

input[type='file'] + label * {
    pointer-events: none;
}

.pay-fact {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.pay-fact p > span {
    color: #4d6480;
    display: block;
    font-size: 0.8em;
    font-weight: 600;
    margin-bottom: -0.6em;
}

.pay-fact.pay-later {
    border: none;
    margin-bottom: 40px;
    opacity: 0.5;
}

@media (max-width: 670px) {
    .pay-fact.pay-later {
        margin-bottom: 0px;
    }
}

.terms_link {
    line-height: 1.4em;
    margin: 0;
}
.pay-form {
    border-radius: 6px;
    display: flex;
    max-width: 900px;
    overflow: hidden;
    width: auto;

    .text-element-wrapper {
        margin-bottom: 2em;
    }

    .left,
    .right {
        flex: 1;
        min-width: 300px;
        padding: 2em;
    }
    .left {
        flex: 1.75;
    }
    .right {
        background-color: #edf2f7;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .notice {
            color: #8998aa;
            font-size: 1em;
            line-height: 1.4em;
            margin-bottom: 1.6em;

            a {
                color: rgb(49, 218, 255);
                font-weight: 600;
                margin-top: 0.5em;
                &:hover {
                    color: #32325d;
                }
            }
        }
    }
    form ~ .errors {
        margin-top: 2em;
    }
}

.notify-pay-form {
    max-width: 550px;
}

.or-divider {
    margin-bottom: 2em;
    margin-top: 3em;
    position: relative;
    span {
        background-color: white;
        color: #bbbbbb;
        font-weight: 600;
        left: 50%;
        letter-spacing: 1px;
        padding: 0 2em;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.pay-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2.7em;
}
.pay-fact {
    align-items: center;
    border-bottom: 1px solid #e2e8f0;
    margin-top: 1em;
    padding-bottom: 1em;
    .info-popup {
        margin-top: 0.5em;
    }
}

.pay-fact p {
    margin: 0px;
}

.review-card-fact:last-child p {
    margin-bottom: 0;
}
.action-buttons {
    display: flex;
    justify-content: flex-start;
}
.action-buttons > div,
.action-buttons > a {
    margin-left: 20px;
}
.text-element-wrapper {
    margin-bottom: 50px;
}

.event-card {
    border: 2px solid #bbbbbb;
    border-radius: 6px;
    color: #32325d;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    transition: all 0.1s ease-in-out;
}
.event-card:hover {
    border-color: inherit;
}

.event-right {
    margin-top: 16px;
    text-align: right;
}
.event,
.gig {
    display: flex;
    margin-bottom: 40px;
    padding: 35px 10px;
    a {
        color: #8998aa;
    }
}

.gig > div {
    width: 100%;
}
.gig-status,
.gig-from-now {
    color: #8998aa;
    fill: #8998aa;
    position: absolute;
    right: 18px;
    top: 36px;
}
.gig-from-now {
    text-transform: capitalize;
    top: 7px;
}

.event-name {
    font-size: 30px;
    font-weight: 100;
    line-height: 30px;
    margin-bottom: 5px;
}
.event-location {
    fill: #32325d;
    font-size: 15px;
    font-weight: 100;
}

.form-error {
    color: rgb(244, 67, 54);
    margin-top: 10px;
}

.rating {
    display: flex;
}
.ratingStar {
    padding-left: 1px;
    padding-right: 1px;
}

.ratingStar {
    transition: transform 0.1s ease;
}

.rating:not(.disabled) .ratingStar.active:active {
    transform: translateX(0px) translateY(0px) scale(1.4);
}

.dropdown-selector-wrapper {
    .collapsible-arrow {
        position: relative;
        right: 0;
        top: 7px;
    }
}

.dropdown-selector-wrapper.fullwidth {
    position: relative;
    .dropdown-selector {
        width: 100%;
    }
    .collapsible-arrow {
        position: absolute;
        right: 0;
        top: 0px;
    }
    select:invalid {
        color: rgb(187, 187, 187);
    }
}

table button {
    width: 100%;
}
table {
    table-layout: fixed;
}

.toggle-options {
    margin: -10px;
}
.toggle-options.glued {
    margin: 0px;
}
.toggle-options table {
    border-collapse: separate;
    border-spacing: 10px;
    width: 100%;
}
.toggle-options button {
    border-width: 1px;
    max-width: 100%;
    padding: 10px 3px;
}
.toggle-options.glued button {
    padding: 10px;
}
.toggle-button-handler {
    margin: -10px;
}
.toggle-button-handler button {
    border-width: 1px;
    padding: 10px 3px;
}
.toggle-button-handler table {
    border-collapse: separate;
    border-spacing: 10px;
    width: 100%;
}

.edit-text-button input {
    -webkit-appearance: none;
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    text-align: center;
    width: 100%;
}

.errors p {
    color: #f44336 !important;
    line-height: 22px;
    margin-bottom: 0;
}
p.error {
    color: #f44336 !important;
}
.error button {
    color: #8998aa !important;
}
.error button:hover {
    color: #32325d !important;
}

.terms {
    margin-bottom: 80px;
    position: relative;
    z-index: 1;
}
.terms .subtitle {
    border-bottom: 1px solid #f6f9fc;
    color: #8998aa;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 15px;
}
.terms h2 {
    color: #32325d;
    font-size: 28px;
}
.terms section {
    margin-top: 30px;
}

.terms-navigation button {
    width: 100%;
}

.notification {
    margin: 1em 0;
}

.notification p {
    text-align: center;
}

.notification > div {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 0 10px;
}

.notification-overlay {
    align-items: center;
    color: white;
    display: flex;
    pointer-events: none;
    position: fixed;
    top: 3px;
    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 100%;
    z-index: 200;
}
.notification-overlay.bottom {
    bottom: 3px;
    top: unset;
    transform: translateY(100%);
}
.notification-overlay.active {
    transform: translateY(0%);
}

.notification-overlay .notification > div {
    align-items: center;
    background-color: rgba(64, 64, 64, 0.95);
    border-radius: 20px;
    display: flex;
    height: 40px;
    justify-content: center;
    min-width: 200px;
    padding: 0 30px;
    position: 'relative';
}
.notification-overlay p {
    line-height: 40px;
    margin: 0;
}
.notification-overlay .errors {
    margin-bottom: 0;
}

.payment-confirmation {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
    min-width: 800px;
    padding: 2em;
    text-align: center;
    > h3 {
        margin-top: 1em;
        max-width: 19em;
    }
}

.notification-bubble {
    animation: 250ms scaleIn ease-out;
    background: rgb(244, 67, 54);
    border-radius: 50%;
    color: white;
    font-size: 12px;
    height: 1.4em;
    left: -0.5em;
    line-height: 1.4em;
    position: absolute;
    text-align: center;
    top: -0.5em;
    vertical-align: middle;
    width: 1.4em;
    z-index: 2;
}
.notification-bubble.relative {
    display: inline-block;
    font-weight: 700;
    left: 0;
    margin-right: 9px;
    position: relative;
    top: 0;
}

.breadcrumbs {
    display: none;
}

ol.breadcrumbs {
    font-weight: 600;
    font-weight: 700;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-transform: capitalize;
    top: -5px;
}

ol.breadcrumbs li {
    display: inline-block;
}

ol.breadcrumbs li:before {
    content: '➡';
    position: relative;
}
ol.breadcrumbs li > div {
    display: inline-block;
}
ol.breadcrumbs a {
    color: #32325d;
    font-size: 16px;
    margin: 0 0.5em;
}

.logo-area {
    align-items: flex-end;
    display: flex;
}

.share-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5em 0;
}
.share-button {
    align-items: center;
    border-radius: 50px;
    color: white;
    display: flex;
    font-weight: 600;
    justify-content: space-around;
    margin: 0.8em;
    width: 120px;
}
.share-button span {
    margin-right: 1.5em;
}
.share-button.SocialMediaShareButton--facebook {
    background-color: #3b5998;
}
.share-button.SocialMediaShareButton--twitter {
    background-color: rgb(0, 172, 237);
}
.share-button.SocialMediaShareButton--linkedin {
    background-color: rgb(0, 127, 177);
}
.share-button.SocialMediaShareButton--email {
    background-color: rgb(127, 127, 127);
}

.link-look {
    background: transparent;
    border: none;
    color: #31daff;
    font-weight: 600;
    outline: none !important;
    padding: 0;
}

#tooltip-portal,
#mobile-menu-portal {
    border: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}

.popup {
    max-height: 100vh;
    opacity: 0;
    overflow-y: scroll !important;
    pointer-events: none;
    transform: rotate3d(1, 1, 0, -20deg);
    transform-origin: 100% 0;
    transition-duration: 0.35s;
    transition-property: transform, opacity;
    will-change: transform, opacity;
}

.popup.active {
    opacity: 1;
    pointer-events: auto;
    transform: none;
}
.filter-background {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    perspective: 3000px;
    pointer-events: none;
    transition: opacity 0.35s;
}
.filter-background.active {
    opacity: 1;
    pointer-events: auto;
}
.popup-open {
    overflow: hidden;
}
